<main>
  <header>

  </header>
  <section>
    <app-home></app-home>
    <router-outlet></router-outlet>

    <div class="container-fluid">
      <h2>reactive forms</h2>
      <form [formGroup]="registrationForm">
        <div class="form-group">
          <label>username</label>
          <input formControlName="userName" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>password</label>
          <input formControlName="password" type="text" class="form-control">
        </div>

        <button class="bg-teal-950" type="submit">submit</button>

      </form>
      {{ registrationForm.value | json }}
    </div>
  </section>

  <div>
    <h1>Pipes</h1>
    <h1 class="mt-4">Here is the raw value</h1>
    <p>The hero's birthday is {{ birthday }}</p>

    <h1 class="mt-4" >here is the pipe value</h1>
    <p>The hero's birthday is {{ birthday | date }}</p>

  </div>



</main>
